.form_input :nth-child(1){
  padding: 0 30px;
  width: 30%;
}

.form_input :nth-child(2){
  width: 100%;
}

.form_input :nth-child(2) > div > span > div > div{
  height: 47px;
  display: flex;
  align-items: center;
}

.form_input :nth-child(2) > div > input {
  padding: 25px 10px;
}