.main {
  width: 388px;
  margin: 0 auto;
}

@media screen and (max-width: 576px) {
  .main {
    width: 95%;
  }
}

.main .ant-tabs .ant-tabs-bar {
  margin-bottom: 24px;
  text-align: center;
  border-bottom: 0;
}

.main .ant-form-item {
  margin: 0 2px 24px;
}

.login-btn {
  width: 100%;
  margin-top: 24px;
}
