.menu {
  margin-right: 8px;
  min-width: 160px;
}

.selectLang {
  line-height: 64px;
  vertical-align: top;
  cursor: pointer;
  margin-right: 24px;
}

.selectLang .icon {
  position: relative;
  top: -1px;
}